<launch>

<rosparam file="$(find edu_amr_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="edu_amr" args="left_wheel_joint_position_controller right_wheel_joint_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/edu_amr/joint_states"/>
</node>

</launch>